# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
build/
develop-eggs/
dist/
eggs/
parts/
sdist/
var/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
*.cover
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.coveragerc
htmlcov/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# PyCharm
.idea/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Large model checkpoints and data
checkpoints/
*.ckpt
*.pt
*.pth
*.h5
data/
data_*/
datasets/

# outputs and logs
logs/
figures*/
outputs/

# OneDrive / temp
~$*
